<template name="SideNav">

<nav class="side-nav">
  <ul>
  <li><a href="/OpenAlarms"><i class="fa fa-tasks" aria-hidden="true"></i>Open Alarms </a></li>
  <li><a href="/DownSites"><i class="fa fa-tasks" aria-hidden="true"></i>Down Sites</a></li>
    <li><a href="/Pending"><i class="fa fa-snowflake-o" aria-hidden="true"></i>Pending </a></li>
    <li><a href="/SiteAccess"><i class="fa fa-lock" aria-hidden="true"></i>Access </a></li>
    <li><a href="/PgConnection"><i class="fa fa-bolt fa-2x" aria-hidden="true"></i>PG Connection </a></li>
    <li><a href="/ExceedSLA"><i class="fa fa-exclamation-triangle fa-2x" aria-hidden="true"></i>Exceed SLA</a></li>
    <li><a href="/Spare"><i class="fa fa-wrench fa-2x" aria-hidden="true"></i>Spare</a></li>


  </ul>
</nav>




</template>
